# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
env/
ENV/

# Django
*.sqlite3
db.sqlite3
/media/
/staticfiles/

# Environment files
.env
.env.local

# Byte-compiled / optimized / DLL files
*.so

# IDEs
.vscode/
.idea/

# macOS
.DS_Store
